@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jaldi:wght@400;700&display=swap');
@import "tailwindcss";

@theme {
    --default-font-family: 'Inter', sans-serif;
}

/* Classes utilitárias personalizadas */
@layer utilities {
    .font-jaldi-regular {
        font-family: 'Jaldi', sans-serif;
    }

    .glassmorphism-border {
        /* Fundo semitransparente */
        background: rgba(199, 196, 196, 0.1);
        /* Sombra interna para o brilho sutil da borda */
        box-shadow: inset 0 0 10px rgba(36, 34, 34, 0.733),
            0 0 10px rgba(36, 32, 32, 0.2);
        /* Sombra externa para a profundidade */
        /* Efeito de desfoque (Blur) para o vidro fosco */
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        /* Suporte para Safari */
        border: 1px solid rgba(54, 53, 53, 0.445);
        /* Borda transparente para separar do fundo */
    }


    .font-jaldi-bold {
        font-family: 'Jaldi', sans-serif;
        font-weight: 700;
    }

    .shimmer-mask {
        position: relative;
        overflow: hidden;
        /* garante que o brilho não vaze */
    }

    .gradient-button-stroke {
        /* Gradiente para a borda */
        background: linear-gradient(to right, #D9D9D9 0%, #EFEFEF 100%);
        padding: 2px;
        /* Espessura da borda */
        border-radius: 8px;
        /* Arredondamento da borda */
    }

    .gradient-button-fill {
        /* Gradiente de preenchimento do botão */
        background: linear-gradient(to right, #FFFFFF 0%, #F5F5F5 100%);
        border-radius: 6px;
        /* Para que o preenchimento seja menor que a borda */
    }

    .button-shadow {
        /* Sombra principal do botão */
        box-shadow: 0 0 2px 0px #B0B0B0,
            0 4px 4px 0px rgba(0, 0, 0, 0.12);
    }

    .text-shadow {
        /* Sombra para o texto */
        text-shadow: 0 2px 0px rgba(27, 27, 27, 0.226);
    }

    .shimmer-mask::after {
        content: "";
        position: absolute;
        inset: 0;
        background: linear-gradient(90deg,
                transparent 0%,
                rgba(255, 255, 255, 0.7) 50%,
                transparent 100%);
        mix-blend-mode: lighten;
        pointer-events: none;
        animation: shine 4s ease-in-out infinite;
    }

    @keyframes shine {
        0% {
            transform: translateX(-100%);
        }

        20% {
            transform: translateX(100%);
            /* passa rápido */
        }

        100% {
            transform: translateX(100%);
            /* pausa */
        }
    }

    .animate-bounce {
        animation: bounce 1s infinite;
    }

    @keyframes bounce {

        0%,
        100% {
            transform: translateY(-25%);
            animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
        }

        50% {
            transform: translateY(0);
            animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
        }
    }

    @keyframes ping-custom {

        75%,
        100% {
            transform: scale(2);
            opacity: 0;
        }
    }

    .ping-container {
        position: relative;
        /* Defina o tamanho do container para centralizar o ponto */
        width: 0.75rem;
        height: 0.75rem;
        /* Garante que o container se alinha corretamente com o texto */
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .ping-wave {
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 9999px;
        background-color: #41E62F;
        /* Cor verde da imagem */
        opacity: 0.75;
        animation: ping-custom 1.5s cubic-bezier(0, 0, 0.2, 1) infinite;
    }

    .ping-dot {
        position: relative;
        width: 0.5rem;
        /* Ajuste o tamanho do ponto aqui */
        height: 0.5rem;
        border-radius: 9999px;
        background-color: #41E62F;
        /* Mesma cor da onda */
    }

}

body {
    scroll-behavior: smooth;
    cursor: url('./assets/cursor.svg'), auto;
}

a,
button {
    cursor: url('./assets/custom-pointer.png'), pointer;
}

/* Regras de media query */
@media (max-width: 767px) {
    .bg-mobile {
        background-image: url('./assets/bg.svg');
        background-size: cover;
        background-position: center;
    }
}

@media (min-width: 1024px) {
    .bg-desktop {
        background-image: url('./assets/bgDesktop.svg');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }
}