@import "tailwindcss";

@theme {
    --default-font-family: "Inter", sans-serif;
    --color-gray-200: #E6E6E6;

}

/* src/styles.css */
@media (max-width: 767px) {
    .bg-mobile {
        background-image: url('./assets/bg.svg');
        /* coloque a imagem no public */
        background-size: cover;
        background-position: center;
    }
}