@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jaldi:wght@400;700&display=swap');

@theme {
    --default-font-family: 'Inter', sans-serif;
}

/* Classes utilitárias personalizadas */
@layer utilities {
    .font-jaldi-regular {
        font-family: 'Jaldi', sans-serif;
    }

    .font-jaldi-bold {
        font-family: 'Jaldi', sans-serif;
        font-weight: 700;
    }

    .shimmer-mask {
        position: relative;
        overflow: hidden;
        /* garante que o brilho não vaze */
    }

    .shimmer-mask::after {
        content: "";
        position: absolute;
        inset: 0;
        background: linear-gradient(90deg,
                transparent 0%,
                rgba(255, 255, 255, 0.7) 50%,
                transparent 100%);
        mix-blend-mode: lighten;
        pointer-events: none;
        animation: shine 4s ease-in-out infinite;
    }

    @keyframes shine {
        0% {
            transform: translateX(-100%);
        }

        20% {
            transform: translateX(100%);
            /* passa rápido */
        }

        100% {
            transform: translateX(100%);
            /* pausa */
        }
    }

    .animate-bounce {
        animation: bounce 1s infinite;
    }

    @keyframes bounce {

        0%,
        100% {
            transform: translateY(-25%);
            animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
        }

        50% {
            transform: translateY(0);
            animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
        }
    }

    @keyframes ping-custom {

        75%,
        100% {
            transform: scale(2);
            opacity: 0;
        }
    }

    .ping-container {
        position: relative;
        /* Defina o tamanho do container para centralizar o ponto */
        width: 0.75rem;
        height: 0.75rem;
        /* Garante que o container se alinha corretamente com o texto */
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .ping-wave {
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 9999px;
        background-color: #41E62F;
        /* Cor verde da imagem */
        opacity: 0.75;
        animation: ping-custom 1.5s cubic-bezier(0, 0, 0.2, 1) infinite;
    }

    .ping-dot {
        position: relative;
        width: 0.5rem;
        /* Ajuste o tamanho do ponto aqui */
        height: 0.5rem;
        border-radius: 9999px;
        background-color: #41E62F;
        /* Mesma cor da onda */
    }

}

/* Regras de media query */
@media (max-width: 767px) {
    .bg-mobile {
        background-image: url('./assets/bg.svg');
        background-size: cover;
        background-position: center;
    }
}

@media (min-width: 1024px) {
    .bg-desktop {
        background-image: url('./assets/bgDesktop.svg');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: top;
    }
}